.hero {
  color: #fff;
}

.hero code {
  background-color: var(--ifm-color-primary-lightest);
  color: #000;
  font-size: 16px;
}

.installCommandRow {
  text-align: center;
}

.installCommand {
  font-size: 18px;
  user-select: all;
}

@media screen and (max-width: 996px) {
  .installCommand {
    font-size: 15px;
  }
}

.tryItOutRow {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.tryItOutArrow {
  rotate: 190deg;
}

.tryItOutArrowPath {
  fill: var(--ifm-color-primary);
}

.tryItOutText {
  font-size: 19px;
  font-weight: 500;
  margin-top: -10px;
}
